# Android build
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/gradle.properties
android/app/debug.keystore

# Keystores
android/app/keystores/*.keystore
android/app/keystores/*.jks

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
